body
{
    padding: 0;
    margin: 0;
}
#dashbord
{
    background: rgb(0, 0, 82);
}

.hidden
{
    display: none;
}
#header
{
padding: 1rem;
}

.search-history
{
background: rgb(0, 0, 82);
color: white;
display: flex;
align-items: center;
justify-content: space-around;
flex-direction: column;
margin: 1rem;
font-size: 1.5rem;
border-radius: 15px;
}

#city
{
    border-radius: 10px;
    margin-bottom: 1rem;
} 

#search-btn
{
    background: rgb(0, 0, 82);
    border-radius: 5px;
}

#search-box
{
    border-radius: 5px;
}

#search-history
{
   border-top: 3px solid rgb(0, 0, 82) ; 
}

#prev-city
{
border-radius: 5px;
}

#main
{
padding: 1rem;
}

.current
{
 border: rgb(0, 0, 82) solid 2px;
 padding: 1rem;
}

.current p 
{
    font-size: 1.5rem;
}

#current-day
{
    border: 1px solid rgb(0, 0, 82) ;
    padding: 1rem;
}

#uv-index
{
    border-radius: 5px;
}

.uv-great
{
    color:  green;
}

.uv-moderate
{
    color:  yellow;
}

.uv-severe
{
    color:  red;
}

.future-title
{
    background: rgb(0, 0, 82);
    border-radius: 5px;
    padding: 1rem;
    color: white;
    margin-left: 1rem;
    font-size: 1rem;
    margin-top: 1rem;
}

.future-title i
{
font-size: 1rem;
}


.future-title h3
{
    font-size: 1rem;
}

.btn
{
    border-radius: 15px;
    color: white;
    background-color: rgb(0, 0, 82);;
}

.btn:hover
{
    background-color: rgb(2, 2, 141);
    color: white;
}